<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <nav class="navbar">
    <a routerLink="/list" class="nav-link">Home</a>
    <a routerLink="/create-post" class="nav-link">Create Post</a>
    <a routerLink="/detail" class="nav-link">Details</a>
  </nav>

  
  <div class="main-content">
    <h1>Welcome to the Blog Application</h1>
    <p>
      This application allows you to create, view, and manage blog posts. Use the navigation bar above to explore different features. Happy blogging!
    </p>
  </div>
  
</body>
</html>